.footer {
    padding: 20px 40px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  
  .footer-content p {
    margin: 0;
    font-size: 25px;
    justify-content: center;
  }
  
  .social-links a {
    margin: 0px 10px;
    text-decoration: none;
    color: #333;
    justify-content: center;
    align-items: center;
    padding-left: 7%;
    padding-right: 3%;
    font-size: 17px;
  }
  
  .social-links a:hover {
    text-decoration: underline;
    color: blue;
  }